<div class="card">
<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="card-footer">  
  <%= link_to "Back to posts", root_path %>
  <% if current_user %>
    |  <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
</div>